In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
train_path = os.path.join('..','data','raw','train.csv')
train_df = pd.read_csv(train_path)
train_df

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [3]:
train_df_copy = train_df.copy()
train_df_copy

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [4]:
train_df_copy['keyword'] = ['unknown' if type(i) == float else i for i in train_df_copy.keyword.values]
train_df_copy['location'] = ['unknown' if type(i) == float else i for i in train_df_copy.location.values]

In [5]:
train_df_copy

,id,keyword,location,text,target
0,1,unknown,unknown,Our Deeds are the Reason of this #earthquake M...,1
1,4,unknown,unknown,Forest fire near La Ronge Sask. Canada,1
2,5,unknown,unknown,All residents asked to 'shelter in place' are ...,1
3,6,unknown,unknown,"13,000 people receive #wildfires evacuation or...",1
4,7,unknown,unknown,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,unknown,unknown,Two giant cranes holding a bridge collapse int...,1
7609,10870,unknown,unknown,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,unknown,unknown,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,unknown,unknown,Police investigating after an e-bike collided ...,1
7612,10873,unknown,unknown,The Latest: More Homes Razed by Northern Calif...,1

In [6]:
train_df_copy['corpus'] = train_df_copy.keyword + " " + train_df_copy.location + " " + train_df_copy.text
train_df_copy = train_df_copy[['id','location','keyword','text','corpus','target']]
train_df_copy.head()

,id,location,keyword,text,corpus,target
0,1,unknown,unknown,Our Deeds are the Reason of this #earthquake M...,unknown unknown Our Deeds are the Reason of th...,1
1,4,unknown,unknown,Forest fire near La Ronge Sask. Canada,unknown unknown Forest fire near La Ronge Sask...,1
2,5,unknown,unknown,All residents asked to 'shelter in place' are ...,unknown unknown All residents asked to 'shelte...,1
3,6,unknown,unknown,"13,000 people receive #wildfires evacuation or...","unknown unknown 13,000 people receive #wildfir...",1
4,7,unknown,unknown,Just got sent this photo from Ruby #Alaska as ...,unknown unknown Just got sent this photo from ...,1

In [7]:
from nltk.tokenize import word_tokenize

In [8]:
import re
 
emoticons_str = r"""
    (?:
        [:=;] # Eyes
        [oO\-]? # Nose (optional)
        [D\)\]\(\]/\\OpP] # Mouth
    )"""
 
regex_str = [
    emoticons_str,
    r'<[^>]+>', # HTML tags
    r'(?:@[\w_]+)', # @-mentions
    r"(?:\#+[\w_]+[\w\'_\-]*[\w_]+)", # hash-tags
    r'http[s]?://(?:[a-z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-f][0-9a-f]))+', # URLs
 
    r'(?:(?:\d+,?)+(?:\.?\d+)?)', # numbers
    r"(?:[a-z][a-z'\-_]+[a-z])", # words with - and '
    r'(?:[\w_]+)', # other words
    r'(?:\S)' # anything else
]
    
tokens_re = re.compile(r'('+'|'.join(regex_str)+')', re.VERBOSE | re.IGNORECASE)
emoticon_re = re.compile(r'^'+emoticons_str+'$', re.VERBOSE | re.IGNORECASE)
 
def tokenize(s):
    return tokens_re.findall(s)
 
def preprocess(s, lowercase=False):
    tokens = tokenize(s)
    if lowercase:
        tokens = [token if emoticon_re.search(token) else token.lower() for token in tokens]
    return tokens
 
tweet = "RT @marcobonzanini: just an example! :D http://example.com #NLP"
print(preprocess(tweet))

['RT', '@marcobonzanini', ':', 'just', 'an', 'example', '!', ':D', 'http://example.com', '#NLP']

In [9]:
train_df_copy['corpus_preprocessed'] = train_df_copy.corpus.apply(preprocess)
train_df_copy

<ipython-input-9-83f0bda260ee>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df_copy['corpus_preprocessed'] = train_df_copy.corpus.apply(preprocess)

,id,location,keyword,text,corpus,target,corpus_preprocessed
0,1,unknown,unknown,Our Deeds are the Reason of this #earthquake M...,unknown unknown Our Deeds are the Reason of th...,1,"[unknown, unknown, Our, Deeds, are, the, Reaso..."
1,4,unknown,unknown,Forest fire near La Ronge Sask. Canada,unknown unknown Forest fire near La Ronge Sask...,1,"[unknown, unknown, Forest, fire, near, La, Ron..."
2,5,unknown,unknown,All residents asked to 'shelter in place' are ...,unknown unknown All residents asked to 'shelte...,1,"[unknown, unknown, All, residents, asked, to, ..."
3,6,unknown,unknown,"13,000 people receive #wildfires evacuation or...","unknown unknown 13,000 people receive #wildfir...",1,"[unknown, unknown, 13,000, people, receive, #w..."
4,7,unknown,unknown,Just got sent this photo from Ruby #Alaska as ...,unknown unknown Just got sent this photo from ...,1,"[unknown, unknown, Just, got, sent, this, phot..."
...,...,...,...,...,...,...,...
7608,10869,unknown,unknown,Two giant cranes holding a bridge collapse int...,unknown unknown Two giant cranes holding a bri...,1,"[unknown, unknown, Two, giant, cranes, holding..."
7609,10870,unknown,unknown,@aria_ahrary @TheTawniest The out of control w...,unknown unknown @aria_ahrary @TheTawniest The ...,1,"[unknown, unknown, @aria_ahrary, @TheTawniest,..."
7610,10871,unknown,unknown,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,unknown unknown M1.94 [01:04 UTC]?5km S of Vol...,1,"[unknown, unknown, M1, ., 94, [, 01, :, 04, UT..."
7611,10872,unknown,unknown,Police investigating after an e-bike collided ...,unknown unknown Police investigating after an ...,1,"[unknown, unknown, Police, investigating, afte..."
7612,10873,unknown,unknown,The Latest: More Homes Razed by Northern Calif...,unknown unknown The Latest: More Homes Razed b...,1,"[unknown, unknown, The, Latest, :, More, Homes..."

In [21]:
import io
import re
import string
import tensorflow as tf
import tqdm

from tensorflow.keras import Model
from tensorflow.keras.layers import Dot, Embedding, Flatten
from tensorflow.keras.layers.experimental.preprocessing import TextVectorization

In [22]:
# Load the TensorBoard notebook extension
%load_ext tensorboard

In [23]:
SEED = 42
AUTOTUNE = tf.data.AUTOTUNE

In [29]:
sentence = train_df_copy.text.to_list()[0]
print(sentence)
tokens = list(sentence.lower().split())
print(len(tokens))

Our Deeds are the Reason of this #earthquake May ALLAH Forgive us all
13

In [18]:
import tensorflow as tf
X = train_df_copy[['corpus_preprocessed']]
y = train_df_copy['target'].values.reshape(-1,1)

In [ ]:
import io
import os
import re
import shutil
import string
import tensorflow as tf

from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense, Embedding, GlobalAveragePooling1D
from tensorflow.keras.layers.experimental.preprocessing import TextVectorization

In [10]:
# train_df_copy['bag_of_words'] = [i.split(' ') for i in train_df_copy.corpus.to_list()]
# train_df_copy

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer, TfidfTransformer

In [ ]:
dataset = train_df_copy.corpus.to_list()
tfIdfTransformer = TfidfTransformer(use_idf=True)
countVectorizer = CountVectorizer()
wordCount = countVectorizer.fit_transform(dataset)
newTfIdf = tfIdfTransformer.fit_transform(wordCount)

# df = pd.DataFrame(newTfIdf[0].T.todense(), index=countVectorizer.get_feature_names(), columns=["TF-IDF"])
# df = df.sort_values('TF-IDF', ascending=False)
# print (df.head(25))

In [ ]:
countVectorizer = CountVectorizer()
corpus = train_df_copy.corpus.to_list()
tfIdfTransformer = TfidfVectorizer(use_idf=True, norm=None)
X = vectorizer.fit_transform(corpus)
# print(vectorizer.get_feature_names())
print(X)