## Importing main libraries

In [1]:
import pandas as pd
import numpy as np
import re
import nltk
import os

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

## Loading training dataset and viewing dataset

In [2]:
def RemoveStopWords(texto):
    stopwords = set(nltk.corpus.stopwords.words('english'))
    palavras = [i for i in texto.split() if not i in stopwords]
    return (" ".join(palavras))

def clean_text(text):
    text = text.str.lower() 
    text = text.str.replace(r"\#","") 
    text = text.str.replace(r"http\S+","")  
    text = text.str.replace(r"@","")
    text = text.str.replace(r"[^a-zA-Z#]", " ")
    text = text.str.replace("\s{2,}", "")
    return text

def load_datasets():
    train_path = os.path.join('..','data','raw','train.csv')
    test_path = os.path.join('..','data','raw','test.csv')
    train = pd.read_csv(train_path)
    test = pd.read_csv(test_path)
    train = train.drop(['keyword', 'location', 'id'], axis=1)
    test = test.drop(['keyword', 'location', 'id'], axis=1)
    
    train['text_clean'] = [RemoveStopWords(i) for i in train['text']]
    train['text_clean'] = clean_text(train['text_clean'])
    train = train[['text','text_clean','target']]
    
    test['text_clean'] = [RemoveStopWords(i) for i in test['text']]
    test['text_clean'] = clean_text(test['text_clean'])
    test = test[['text','text_clean']]
    
    return train, test

In [3]:
train, test = load_datasets()

In [4]:
train.head()

,text,text_clean,target
0,Our Deeds are the Reason of this #earthquake M...,our deeds reason earthquake may allah forgive us,1
1,Forest fire near La Ronge Sask. Canada,forest fire near la ronge saskcanada,1
2,All residents asked to 'shelter in place' are ...,all residents askedshelter placenotified offic...,1
3,"13,000 people receive #wildfires evacuation or...",people receive wildfires evacuation orders cal...,1
4,Just got sent this photo from Ruby #Alaska as ...,just got sent photo ruby alaska smoke wildfire...,1

In [5]:
test.head()

,text,text_clean
0,Just happened a terrible car crash,just happened terrible car crash
1,"Heard about #earthquake is different cities, s...",heard earthquake different citiesstay safe eve...
2,"there is a forest fire at spot pond, geese are...",forest fire spot pondgeese fleeing across stre...
3,Apocalypse lighting. #Spokane #wildfires,apocalypse lightingspokane wildfires
4,Typhoon Soudelor kills 28 in China and Taiwan,typhoon soudelor killschina taiwan

In [10]:
train_text_clean_list = [train.text_clean.to_list()]

## Word2Vec - TensorFlow

In [30]:
import io
import os
import re
import shutil
import string
import tensorflow as tf

import tensorflow as tf
from tensorflow.keras.layers.experimental.preprocessing import TextVectorization
from tensorflow.keras.models import Sequential
from tensorflow import keras
from tensorflow.keras import Input, layers
from tensorflow.data import Dataset
import itertools

In [36]:
corpus_train =  train.text_clean.to_list()

In [37]:
# Dataset 
corpus_train =  train.text_clean.to_list()
words_train  = set(list(itertools.chain(*[i.split() for i in train.text_clean.to_list()])))


word2int = {}

for i,word in enumerate(list_of_vocab_train):
    word2int[word] = i

sentences = []
for sentence in corpus_train:
    sentences.append(sentence.split())
    
WINDOW_SIZE = 2

data = []
for sentence in sentences:
    for idx, word in enumerate(sentence):
        for neighbor in sentence[max(idx - WINDOW_SIZE, 0) : min(idx + WINDOW_SIZE, len(sentence)) + 1] : 
            if neighbor != word:
                data.append([word, neighbor])

In [39]:
import pandas as pd

df = pd.DataFrame(data, columns = ['input', 'label'])
df

              input        label
0               our        deeds
1               our       reason
2             deeds          our
3             deeds       reason
4             deeds   earthquake
...             ...          ...
227441  wildfireabc     northern
227442  wildfireabc   california
227443  wildfireabc         news
227444         news   california
227445         news  wildfireabc

[227446 rows x 2 columns]

In [40]:
df.shape

(227446, 2)

## Embedding - TensorFlow

## RNN Classification - TensorFlow

## Classifying text with BERT - TensorFlow